[scripts]
start = "flask run -p 3000 -h 0.0.0.0"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
diagram = "python src/models.py"
deploy = "echo 'Please follow this 3 steps to deploy: https://start.4geeksacademy.com/deploy/render'"
